html{
	height: 100%;
	width: 100%;
}
*{
	margin: 0%;
	padding: 0%;
	border-color: tomato;
	box-sizing:content-box;
	box-shadow: transparent;
}
body{
	font-family: 'Poppins', sans-serif;
	height: 100%;
	width: 100%;
}
.navbar{
	
	display: flex;
	align-items: center;
	padding: 20px;
	max-height: 40px;
}
nav{
	flex: 2;
	flex-wrap: nowrap;
	text-align: right;
}
#menuitems{
	padding: 0em;
	margin: 0%;
	max-height: 40px;
}
nav ul{
	display: inline-block;
	list-style-type: none;
	word-wrap: normal;
}
nav ul li{
	display: inline-block;
	margin-right: 50px;
}
a{
	text-decoration: none;
	color: #555;
}
P{
	color: #555;
}
.container{
	width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.btn{
	display: inline-block;
	background: #ff523b;
	color: white;
	padding: 8px 30px;
	margin: auto 0;
	border-radius: 30px;
	transition:vertical;
}
.btn:hover{
	background: rgb(68, 93, 204);
}
.header{
	background: radial-gradient(white,pink);
}
.header .row{
margin-top: 70px;
}
.categories{
	margin: 70px 0;
}
.col-3{
	flex-basis:30%;
	min-width: 250px;
	margin-bottom: 30px;
}
.col-3 img{
	width: 100%;
}
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.col-4{
	flex-basis: 25px;
	padding:10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col-4 img{
	width: 100%;
}
.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: rgb(9, 151, 194);
}
.title::after{
	content: '';
	background: #f50505;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
h5{
	color: darkgreen;
	font-weight: normal;
}
.col-4 p{
	font-size: 14px;
}
.rating .fa{
	color: orangered;
}
.col-4:hover{
	transform: translateY(-5px);
}
/*---------offer----*/
.offer{
	background: radial-gradient(whitesmoke,pink);
	margin-top: 80px;
	padding: 30px 0;
}
.col-2 .offer-img{
	padding: 40px;
}
small{
	color: blueviolet;
}
/*--------test-----*/
.testimonial{
	padding-top: 100px;
}
.testimonial .col-3{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgb(0, 0,0,0.8);
	cursor: pointer;
	transition: transform 0.5s;
}
.testimonial .col-3 img{
	width: 100px;
	margin-top: 20px;
	border-radius: 50%;
}
.testimonial .col-3:hover{
	transform: translate(-10px);
}
.fa.fa-quote-left{
	font-size: 34px;
	color: orangered;
}
.col-3 p{
	font-size: 12px;
	margin: 12px 0;
	color: blue;
}
.testimonial .col-3 h3{
	font-weight: 600;
	color:black;
	font-size: 16px;
}
/*------------brands---------*/
.brands{
	margin: 100px auto;
}
.col-5{
	width: 150px;
}
.col-5 img{
	width: 75%;
	cursor: pointer;
	filter: grayscale(100%);
}
.col-5 img:hover{
	filter: grayscale(0);
}
/*-------------footer----------*/
.footer{
	background: black;
	color:mediumpurple;
	font-size: 14px;
	padding:60px 0 20px;
}
.footer P{
	color: grey;
}
.footer h3{
	color: white;
	margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
	max-width: 250px;
	margin-bottom: 40px;
}
.footer-col-1{
	flex-basis: 40%;
}
.footer-col-2{
	flex: 1;
	text-align: center;
}
.footer-col-2 img{
	width: 100px;
	margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
	flex-basis: 12%;
	text-align: center;
}
ul{
	list-style-type: none;
}
.app-logo{
	margin-top: 20px;
}
.app-logo img{
	width: 110px;
}
.footer hr{
	border: none;
	background:white;
	height: 1px;
	margin: 20px 0;
}
.copyright{
	text-align: center;
}
.menu-icon{
	width: 28px;
	margin-left: 20px;
	display:inline-flex;
	cursor: pointer;
	max-height: 40px;
}
/*--------media quarry for menu---------*/

@media only screen and (max-width:800px){
	nav ul{
		text-align: inline;
		position: relative;
		float: right;
		top: 3px;
		padding: 2rem;
		background: black;
		overflow: hidden;
		transition: max-height 0.8s;
	}
	nav ul li{
		display:inline;
		flex-direction: row;
		position: relative;
		float: left;
	} 
	nav ul li a{
		color: white;
		text-align: unset;
		padding-bottom: 20%;
	}
}

/*------media quarry for less than 600 screen size----*/ 

@media only screen and (max-width:600px){
	.row{
		padding: auto;
		text-align: right;
	}
	.col-2,.col-3.col-4{
		flex-basis: 100%;
	}
}
